.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;

    a{
        text-decoration: none;
        color: #222;
    }

    a:hover{
        transform: scale(1.05);
    }

    .title{
        width: 100px;
        border-bottom: 5px solid var(--btn-color);
        text-align: center;
    }

    .projectContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

}

@media (width >= 1250px) {
    .container{
        margin: 0;
    }
}